.faq-item {
  background: #f4f6f9;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.faq-question h4 {
  color: #005f8d;
  font-size: 20px;
  font-weight: 600;
}

.faq-answer {
  color: #555;
  font-size: 16px;
  line-height: 1.7;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-5px);
  transition: max-height 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
    padding 0.3s ease-in-out;
}

.faq-item.open .faq-answer {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  padding-top: 15px;
}

.icon {
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
  color: #005f8d;
}

.icon.rotate {
  transform: rotate(180deg);
}
